h1 {
  text-align: center;
}

#balanceBox {
  height: 2.25em;
  border: .95px darkgrey solid;
  border-radius: 5px;
}

#content {
  margin-top: 4em;
}

#registration-success h3, p {
  text-align: center;
}
#registration-success p {
  font-weight: bold;
}

#registration-success {
  display: none;
}